body {
  width: 600px;
  height: 600px;
}

.domains {
  display: flex;
  flex-direction: column;

  #list-domain {
    list-style-type: none;

    .list-item {
      padding: 0px;
      background-color: red;
    }
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}